.input-74{
    height: 90%;
    width: 45%;
    margin: 20px;
    background-color: black;
    color: yellowgreen;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}   

.input-75{
    height: 90%;
    width: 45%;
    margin: 20px;
    background-color: black;
    color: yellowgreen;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
} 